body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e9e7e6, #757372);
    
}
.tablist {
    display: flex;
    justify-content: center; /* Centers the tabs horizontally */
    margin-bottom: 20px;
}

.tablist button {
    padding: 10px 25px;
    margin: 15px 5px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
}

.tablist button.active {
    background-color: #007BFF; /*Background color of the active tab button */
    color: white;
}

.tab-content {
    display: none; /* Hides all tab contents initially */
}

.tab-content.active {
    display: block; /* Shows the active tab content */
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 4px;   
}


.swiper-container {
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin: auto; /* Centers the Swiper */
}

.swiper-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
}